<div{attributes -> f:format.raw()}>
	<h5>{identifier -> f:format.raw()}</h5>
	<strong>
		{f:translate(id: 'asset', source: 'Main', package: 'Gerdemann.VRView')}:
	</strong>
	<f:if condition="{asset}">
		<f:then>
			{asset.resource.filename}
		</f:then>
		<f:else>
			{f:translate(id: 'noAsset', source: 'Main', package: 'Gerdemann.VRView')}
		</f:else>
	</f:if>
	<br>
	<strong>{f:translate(id: 'hotspots', source: 'Main', package: 'Gerdemann.VRView')}:</strong>
	{backendHotspots -> f:format.raw()}
	<br>
</div>